@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c9acd1;
}

.container {
  height: 100vh;
  width: 1920px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Sidebar toggle menu */
.toggle {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#arrow {
  background-image: linear-gradient(
    319deg,
    #cdedfd 0%,
    #ffec82 37%,
    #ffcfd2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: #73b0f4; */
  font-size: 50px;
  transition: 1s;
}

#arrow.active {
  transform: rotate(-180deg);
}

.menu {
  background-color: #fff;
  position: absolute;
  width: 100px;
  top: 100px;
  left: -100px;
  border-radius: 0 0 15px 0;
  padding-bottom: 20px;
  transition: 0.8s;
}

.menu.active {
  left: 0;
}

a {
  display: block;
  text-align: center;
  margin-top: 30px;
}

a > .material-icons {
  font-size: 50px;
  color: #d2d2d2;
  transition: all 0.3s ease;
}

a:hover .material-icons {
  background-image: linear-gradient(
    319deg,
    #cdedfd 0%,
    #ffec82 37%,
    #ffcfd2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
}

/* Sections */
section {
  height: 500px;
  width: 500px;
  border: 5px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

section.show {
  display: block;
}

/* Cat birthday animation */
/* Birthday present */
.box {
  height: 120px;
  width: 200px;
  background-color: #ffff9d;
  position: relative;
  top: 300px;
  left: 150px;
  background-image: radial-gradient(#f7dd53 5px, transparent 5px);
  background-size: 35px 35px;
  background-position: -5px -12px;
}

.b1,
.b2 {
  background-color: #ffff9d;
  height: 8px;
  width: 50px;
  position: relative;
}

.b1 {
  right: 48px;
  transform: rotate(-20deg);
  transform-origin: right;
}

.b2 {
  left: 199px;
  bottom: 8px;
  transform: rotate(20deg);
  transform-origin: left;
}

/* Cat Face */
.cat {
  position: relative;
  bottom: 40px;
  left: 40px;
  z-index: -1;
  transition: 1s;
}

.face {
  height: 140px;
  width: 120px;
  background-color: #fff;
  border-radius: 50%;
}

.lower {
  height: 40px;
  width: 140px;
  background-color: #fff;
  border-radius: 0 0 140px 140px;
  position: relative;
  top: 60px;
  right: 10px;
}

.ear-l,
.ear-r {
  height: 0;
  width: 0;
  border-bottom: 35px solid white;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: relative;
}

.ear-l {
  bottom: 53px;
  transform: rotate(-40deg);
}

.ear-r {
  bottom: 90px;
  left: 81px;
  transform: rotate(40deg);
}

.eye-l,
.eye-r {
  height: 15px;
  width: 13px;
  position: relative;
}

.eye-l {
  bottom: 65px;
  left: 20px;
}

.eye-r {
  bottom: 80px;
  left: 83px;
}

.eye {
  background-color: #434343;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: blink 2s infinite;
}

@keyframes blink {
  20% {
    transform: scaleY(0);
  }
}

.nose {
  width: 0;
  height: 0;
  border-top: 10px solid pink;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  bottom: 72px;
  left: 48px;
}

.hat {
  height: 0;
  width: 0;
  border-bottom: 100px solid #ff6347;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  position: relative;
  bottom: 220px;
  left: 40px;
  transform: rotate(10deg);
}

.deco {
  position: relative;
  right: 2px;
  top: 2px;
}

.d1,
.d2,
.d3,
.d4 {
  background-color: #ffff9d;
  position: relative;
  height: 40px;
  width: 5px;
}

.d1 {
  bottom: 20px;
}

.d2 {
  transform: rotate(45deg);
  bottom: 60px;
}

.d3 {
  transform: rotate(90deg);
  bottom: 100px;
}

.d4 {
  transform: rotate(135deg);
  bottom: 140px;
}

.box:hover .cat {
  transform: translateY(-60px);
}
